/* логотип web, ссылки (акцент) background:#2196F3;
логотип studio color: #000000;
основной color: #212121;
вторичный color: #757575;
эффективные решения для вашего бизнеса color: #FFFFFF;
цвет секции наша команда background:#F5F4FA
футер background: #2F303A  color: rgba(255, 255, 255, 0.6);
 */

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --section-team-bg: #f5f4fa;
}

/*Общие*/
body {
  background: var(--text-white-color);
  color: #757575;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-left {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-right {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo .logo-right {
  color: var(--text-white-color);
}
.footer-logo {
  margin-right: 85px;
}

/*Site nav*/
.site-nav {
  display: flex;
  margin-left: 85px;
  width: 294px;
  justify-content: space-between;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: relative;
}
.portfolio::after {
  content: "";
  display: inline-block;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 1600px;
  height: 1px;
  background-color: #ececec;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.adress {
  display: flex;
  align-items: baseline;
  margin-left: 305px;
}

.adress a {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  margin-left: 30px;
}
.adress a:hover,
.adress a:focus {
  color: var(--accent-color);
}

.adress-footer a {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icons-conection {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-conection:hover,
.icons-conection:focus {
  fill: var(--accent-color);
}

/*Контент*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title.centered {
  text-align: center;
}

.hero {
  margin: auto;
  padding: auto;
  text-align: center;
  margin-bottom: 94px;
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/headeropt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-hero {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 94px;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}

.button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: none;
  padding: 15px 32px;
}

h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-flex {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--section-team-bg);
  border-radius: 4px;
}

.clients-list-style {
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-style:hover,
.clients-list-style:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.item-link-style {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link-style:hover,
.item-link-style:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--text-white-color);
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
}
.item-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link-footer:hover,
.item-link-footer:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--text-white-color);
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
}

.block-footer {
  display: block;
  margin-right: 93px;
}
.section-title {
  margin-bottom: 50px;
}

h3 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feautures-text {
  font-weight: 40;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.about-us {
  margin-bottom: 121px;
}

.team {
  background: var(--section-team-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: none;
  margin-top: 33px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-card {
  background-color: var(--text-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-links {
  width: 20px;
  height: 20px;
}

.list-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.list-links-footer {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.box-clients {
  padding-top: 67px;
  padding-bottom: 94px;
}

.box-works {
  padding-top: 93px;
  padding-bottom: 94px;
}

/*Футер*/
.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  display: flex;
  flex-direction: column;
}

.uppercase {
  color: var(--text-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.container.footer {
  padding-bottom: 94px;
}

.adress-footer-line {
  margin-bottom: 9px;
}

.page-footer > .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.adress-part-one {
  margin: 0;
  padding-top: 20px;
}

.adress-part-two {
  padding-top: 9px;
}

.adress-part-three {
  padding-top: 9px;
}
/*Портфолио*/

.examples-buttons {
  margin-bottom: 34px;

  display: flex;
  justify-content: center;
}

.examples-buttons .item + .item {
  margin-left: 8px;
}

.examples-buttons .item-but {
  background: #f5f4fa;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .item-but:hover,
.item .item-but:focus {
  background: var(--accent-color);
  color: var(--text-white-color);
}
.item-but.all {
  width: 73px;
  height: 38px;
}
.item-but.web {
  width: 128px;
  height: 38px;
}
.item-but.app {
  width: 145px;
  height: 38px;
}
.item-but.design {
  width: 103px;
  height: 38px;
}
.item-but.marketing {
  width: 130px;
  height: 38px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-links {
  width: 370px;
  margin: 15px;
  border: 1px solid #eeeeee;

  position: relative;
}
.examples-links:hover,
.examples-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-position {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 250ms opacity;
}
.description-position:hover {
  opacity: 1;
}

.examples-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  margin: 0;
  padding: 63px 24px;
  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.examples-description:hover {
  opacity: 1;
}

.examples-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.illustration-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.examples-title.position {
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
}

.illustration-description.position {
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.examples-type {
  color: #757575;
}

.footer-link {
  color: var(--text-white-color);
}

.adress-footer {
  color: #ffffff;
}

/*Кнопки*/
.button {
  background: var(--accent-color);
  color: var(--text-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background: var(--text-white-color);
}

.link-items:focus,
.link-items:hover {
  background: var(--accent-color);
}

a {
  text-decoration: none;
}

.works-description {
  color: var(--text-white-color);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
}

.works-description:focus,
.works-description:hover {
  color: var(--accent-color);
}

.team-icons:focus,
.team-icons:hover {
  background: var(--accent-color);
}

.clients:focus,
.clients:hover {
  background: var(--accent-color);
}

.textarea {
  background-color: #2f303a;
  color: #757575;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
}

.btn {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 63px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 151px;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);

  background-color: var(--accent-color);
  background-image: url("../images/icons/telegram.svg");
  fill: var(--text-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.form-action {
  margin-right: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(117, 117, 117, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--text-white-color);
}
